.carusel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-top: 120px;
}

.carusel p {
  font-size: 18px;
  color: #ffffff8c;
  font-weight: 400;
  line-height: 30px;
}

.span-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 80px;
}

.span-block .active {
  width: 40px;
  height: 6px;
  background: #283036;
  border-radius: 6px;
}

.span-block .span {
  width: 40px;
  height: 6px;
  background: #ff6e30;
  border-radius: 6px;
}

.contributor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  font-family: sans-serif;
  gap: 30px;
  padding: 100px;
}

.contributor h2 {
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.contributor p {
  font-size: 18px;
  color: #ffffff8c;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.contributor form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 64px;
  background: #283036;
  border-radius: 20px;
  margin-top: 60px;
}

.contributor form input {
  width: 100%;
  height: 100%;
  background: #283036;
  border: none;
  color: #ffffff8c;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 20px;
}

.contributor form button {
  position: absolute;
  right: 10px;
  top: 7px;
  height: 80%;
  background: #ff6e30;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  width: 130px;
  height: 48px;
}
